* {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Header */

header {
    background-color: #e1e1e1;
    padding: 20px;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 250px;
}

.logo img {
    width: 120px;
    height: auto;
    margin-right: 10px;
}

.logo a {
    font-size: 24px;
    color: #1a73e8;
    font-weight: bold;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
    
}

.social-icons img {
    width: 40px;
    height: auto;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.social-icons img:hover {
    opacity: 1;
}

/* Announcements */

.announcements {
    background-color: #6B6B6B;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #333;
}

.announcements h3 {
    font-size: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(163, 161, 161);
}

.announcements h4 {
    font-size: 16px;
    color: #1d1b1b;
}

/* Blog Post */

.all-blog-post {
    width: 70%;
    padding: 20px 20px;
}

.blog-post {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    padding: 20px;
    margin-bottom: 20px;
    color: aliceblue;
    background-color: black;
}

.post-container {
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.post h3 {
    font-size: 22px;
    margin-bottom: 10px;
}

.meta {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.thumbnail {
    display: flex;
    width: 100%;
    height: 200px;
    background-color: #ddd;
    margin-bottom: 15px;
}

.thumbnail img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.excerpt {
    padding: 10px;
    overflow: auto;
}

.read-more-div {
    width: 100%;
    text-align: right;
}

.read-more {
    display: inline-block;
    border: #000 solid;
    padding: 0px 10px;
    color: #000;
    box-shadow: 2px 5px 0px #000;
    margin-top: 10px;
    text-decoration: none;
}

.main-side {
    display: flex;
    justify-content: center;
}


/* Post Archive */
.post-archives-tags {
    width: 30%;
    height: 40%;
    float: right;
    margin-right: 20px;
    padding: 20px;
    background-color: #ddd;
    border-radius: 30px;
    border: solid #000 3px;
}

.num-ul {
    background-color: #e3e3e3;
    padding: 10px;
    margin-bottom: 40px;
}


.num-ul li a {
    color: rgb(0, 153, 255);
}

.post-tags p span{
    font-size: 2em;
}

.post-tags p h{
    color: red;
}

/* Search input */

.search {
    margin: 10px 5px;
    width: 100%;
    height: 50px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 28px;
    outline: solid #000;
}

.search-img{
    width: 40px;
    height: auto;
}

.search-input{
    width: 100%;
    font-size: 16px;
    font-family: sans-serif;
    color: #333333;
    margin-left: 14px;
    outline: none;
    border: none;
    background-color: transparent;
}

/* footer */

footer{
    width: 100%;
}

.older-posts{
    margin: 30px 20px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-older-post{
    display: flex;
    align-items: center;
    height: 50px;
    outline: solid 2px;
}

.older-posts-button{
    display: inline-block;
    font-size: 30px;
    outline: none;
    border: none;
    background-color: transparent;
}

.border-older-post:hover{
    background-color: #7d7b7b;
    box-shadow: 0px 10px 0px;
}

.footer-text-sign-up{
    width: 100%;
    padding: 60px 120px;
}

/* footer links */

.more-links{
    background-color: #808080;
    padding: 20px;
    border: solid #000;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column a {
    color: #2465a6;
    text-decoration: none;
    margin: 8px 0;
}

.footer-column a:hover {
    text-decoration: underline;
}

.back-to-top {
    text-align: center;
    margin-top: 20px;
}

.back-to-top a {
    color: #2465a6;
    text-decoration: none;
    font-size: 14px;
}

.back-to-top a:hover {
    text-decoration: underline;
}

/* Copyright */

.copyright{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}

.copyright p{
    margin: 0;
    font-size: 14px;
    color: #000; /* Black text color */
}


/* Page 1 */

.info-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    color: #333;
}

.author, .date {
    margin-right: 10px;
  }

.social-icons-page {
    display: flex;
    align-items: center;
  }

.social-icons-page img{
    width: 32px;
    height: auto;
}

.hr-page{
    margin: 10px 0px;
    border-top: 2px solid #0c0c0c;
}

.thumbnail-page {
    display: flex;
    width: 100%;
    height: 200px;
    margin-bottom: 15px;

}
.thumbnail-page img {
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.more-text-thumbnail-page-img-text{
    display: flex;
    
}

.more-text-thumbnail-page-img-text img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

/* Footer Page */

.footer-page-info{
    width: 60%;
    padding-left: 140px;
}

.categorys-link{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.tags-link{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

/* Author */

.about-the-author{
    width: 100%;
    border: solid #000 2px;
    margin: 20px 0px;
}

.author-header{
    background-color: #494c50;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.author-header-head-text{
    display: flex;
    align-items: center;
    width: 50%;
}

.author-header-head-text span{
    font-size: 70px;
    padding-right: 5px;
}

.links-author{
    display: flex;
    align-items: center;
}

.links-author p{
    padding: 5px;
}

.author-text{
    padding: 20px;
}

/* For Next Post */

.next-post-previous-post{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}